<header>
    <p>Visita el sitio oficial de <a href="http://www.omdbapi.com/" class="link" target="_blank">OMDb</a>, la mayor base de datos gratuita de películas y series</p>
</header>

<div class="navigation d-flex">
    <a class="btn smokyBg" [href]="['movies']" [ngClass]="path.includes('/movies') ? 'active' : ''">
        <img src="{{svgFolder}}movie.svg" alt=""> Películas
    </a>
    <a class="btn smokyBg" [href]="['series']" [ngClass]="path.includes('/series') ? 'active' : ''">
        <img src="{{svgFolder}}serie.svg" alt=""> Series
    </a>
</div> 

<div class="input-container">
    <form class="d-flex" (submit)="setParam(inputValue)">
        <input class="form-control input" type="text" name="movieName" [(ngModel)]="inputValue" [placeholder]="'Ej. ' + placeholderValue" autocomplete="off">
        <label for="movieName">Presiona 'Enter ↵' para buscar</label>
    </form>
</div>