header {
    padding: .25rem 1em; cursor: default;
    border-bottom: 2px dotted rgba($color: #fcf7f7, $alpha: .75); 
    p, .link { color: var(--snow); }
    p {
        font-size: 11px; opacity: .75;
        .link { 
            font-size: 13px; font-weight: bold; letter-spacing: 1px; 
            transition: all 0.25s;
            &:hover { color: var(--cyanCurnflowerBlue); }             
        }
    }    
}

.navigation, .input-container form { align-items: center; justify-content: center; }
.navigation {   
    flex-wrap: wrap; justify-content: space-around; 
    padding: 0.5rem; border-bottom: 1px solid rgba($color: #fcf7f7, $alpha: .75);
    .active { background-color: rgba($color: #deb522, $alpha: .5); }
    a {        
        width: 50%;
        font-size: 16px; line-height: 25px; color: var(--snow);     
        &:hover { background-color: var(--urobilin); color: var(--smokyBlack); border: 0 !important; }             
        &:hover img { filter: none; }
        img {
            width: 20px; height: 20px;
            filter: invert(100%); margin-bottom: 5px;
        }
    }              
}

.input-container {
    padding: 1em 1em 0 1em;
    form {
        width: 100%; flex-wrap: wrap;   
        input {
            width: 60%;
            font-size: 16px; text-align: center; text-transform: capitalize; letter-spacing: 1px;               
            &::placeholder { font-size: 12px; text-transform: none; }                
        } 
        label {
            width: 100%; padding-top: 5px;
            font-size: 11px; color: var(--snow); opacity: .75;
            &::before { content: "\f002"; font-size: 9px; margin-right: 10px; }
        }
    }
}