.navigation, .input-container form { align-items: center; justify-content: center; }
.navigation {   
    flex-wrap: wrap; justify-content: space-around; 
    border-bottom: 1px dashed rgba($color: #fcf7f7, $alpha: .5); padding: 1em 0 0.5rem 0; 
    .active { background-color: var(--urobilinShade) }
    a {        
        width: 49%; 
        border: 1px solid rgba($color: #deb522, $alpha: .25) !important;
        font-size: 16px; line-height: 25px; color: var(--snow);     
        &:hover { background-color: var(--urobilin); color: var(--smokyBlack); border: 0 !important; }             
        &:hover img { filter: none; }
        img {
            width: 20px; height: 20px;
            filter: invert(100%); margin-bottom: 5px;
        }
    }              
}

.input-container {
    padding: 1em 1em 0 1em;
    form {
        width: 100%; flex-wrap: wrap;   
        input {
            width: 75%;
            font-size: 14px; text-align: center; font-weight: 600; text-transform: capitalize; letter-spacing: 1px; line-height: 1.75;            
            &::placeholder { font-size: 12px; font-weight: normal; text-transform: none; }  
        } 
        label {
            width: 100%; padding-top: 5px;
            font-size: 11px; color: var(--snow); opacity: .7;
        }
    }
}