<header>
    <a class="link" href="http://www.omdbapi.com/" target="_blank">&#xf1c0; OMDb API: </a>
    <span>La base de datos más grande de películas y series</span>
    
    <small>Da DOBLE CLIC &#xf245; en cualquiera de los dos botones de abajo para navegar</small>
    <div class="navigation">
        <button class="btn btn-dark" (click)="redirectTo('movies')">Películas</button>
        <button class="btn btn-dark" (click)="redirectTo('series')">Series</button>
    </div>
</header>
<div class="input-container">
    <input class="form-control input" type="text" name="movieName" [(ngModel)]="movieName" [placeholder]="placeholderValue">
    <button class="btn btn-warning" (click)="setMovieValue()">&#xf002;</button>
</div>