header {
    padding: 0.5rem 0 0 0; cursor: default;
    text-align: center;
    background-color: var(--urobilin);  
    .link { 
        font-size: 18px; font-weight: bold; text-decoration: none;            
        color: var(--smokyBlack); transition: all 0.25s;
        &:hover { color: darkblue; }
    }
    span { font-size: 16px; }

    small {
        width: 100%; display: inline-block;
        font-size: 12px; letter-spacing: 1px; padding: 5px 0;
        margin-top: 10px; border-top: 1px solid var(--smokyBlack);
    }  
    .navigation {        
        background-color: var(--smokyBlack);
        padding: 0.5rem; text-align: center;        
        button {
            width: 132px; margin-inline: 15px;
            font-size: 15px; 
            background-color: var(--smokyBlack); border: 0;
            &:hover {
                background-color: var(--snow);  color: var(--smokyBlack);
            }
            &:nth-child(1)::before, &:nth-child(2)::before { margin-right: 10px; }
            &:nth-child(1)::before { content: "\f008"; }
            &:nth-child(2)::before { content: "\f26c"; }
        }              
    }
}

.input-container {
    display: flex; justify-content: center;    
    padding: 1em;
    input, button { border-color: var(--smokyBlack); border-width: 2px; }
    input {
        font-family: 'Source Code Pro';
        width: 85%; text-align: center; text-transform: capitalize; 
        border-top-right-radius: 0; border-bottom-right-radius: 0; border-right: 0;    
        &::placeholder { font-size: 14px; letter-spacing: 1px; text-transform: none; }                
    }   
    button {
        border-top-left-radius: 0; border-bottom-left-radius: 0; 
        background-color: var(--urobilin); 
        &:hover { background-color: var(--smokyBlack); color: var(--snow); }
    }
}