@import url(../../app.component.scss);

.serie-card-container { 
    .serie-general-data, .episode-general-data {         
        .serie-info, .episode-info {            
            .serie-genre, .episode-genere {                
                border-bottom: 1px dashed var(--snow);
            }
            .serie-seasons {                
                margin: 5px 0; justify-content: space-evenly; flex-wrap: wrap;
                span {
                    text-align: center; font-size: 16px; font-weight: bold; letter-spacing: 1px;
                    display: inline-block; width: 100%; padding-bottom: 5px;                    
                }
                button {                    
                    font-size: 12px; font-weight: bold; text-align: center;
                    padding: 5px 10px; border-radius: 25%; border: none; transition: 0.25s;
                    background-color: var(--cyanCurnflowerBlue); color: var(--snow); 
                    &:hover { background-color: var(--cyanCurnflowerBlueShade);}
                }
            }            
        }
    }

    /* Episodes by season */
    .serie-episodes {
        width: 100%; position: relative;
        padding: 0.5rem; border: 1px solid var(--snow); 
        border-top-width: 5px !important; border-top-color: var(--urobilin) !important;
        background-color: var(--smokyBlack); color: var(--snow);    

        /* Clear List Button */    
        .clear-episodes-list { 
            width: fit-content; position: absolute; left: 5px;
            font-size: 10px; letter-spacing: 1px;
            padding: 5px; transition: color 0.35s;    
            background-color: transparent; color: var(--snow); border: none;
            &:hover { color: var(--firebrick); }               
        }
        .serie-season-number {
            font-size: 16px; text-align: center; font-weight: bold; letter-spacing: 1px;
            padding: 5px 0; margin-bottom: 5px; border-bottom: 2px dotted var(--snow); cursor: default;
        }
        .serie-episodes-list {
            display: grid; grid-template-columns: 50% 50%;  
            margin-bottom: 5px;            
            button {                
                position: relative; z-index: 1;
                font-size: 14px; letter-spacing: 1px;
                background-color: transparent; color: var(--snow); border: none;                
                &::after {
                    content: ''; display: block;  z-index: -1; opacity: .75;
                    position: absolute; top: 70%; width: 0; height: 4px;
                    background: var(--urobilin); transition: width .4s;                    
                }
                &:hover::after { width: 100%; }
                span { 
                    font-size: 15px; font-weight: bold;
                    color: var(--cyanCurnflowerBlue); 
                }
            }
        }
    }

    /* Episode Card */
    .episode-card-container {  
        background-color: var(--smokyBlack); border-radius: 0 0 10px 10px;        
        .episode-number {
            text-align: center; font-size: 16px; font-weight: bold; letter-spacing: 2px;
            margin: 0; padding: 5px 0; cursor: default; color: var(--snow);            
            border: 1px solid var(--snow); border-bottom-style: dashed;
            border-top-width: 5px !important; border-top-color: var(--urobilin) !important;
        }
        .episode-general-data {  
            border-radius: 0; border-top: none;
            .episode-info {
                width: 100%;
                .season-episode-info {
                    width: 100%; display: inline-block; padding: 0 5px 5px 5px;
                    text-align: center; font-size: 12px; color: darkgray;
                }
                .episode-genere {
                    border-bottom: 1px solid var(--snow);
                }
                .episode-plot {
                    margin: 10px 0; border-top: none;                                
                    .plot { font-size: 12px; }
                }            
            }
        }
    }
}