<app-header (param)="getSerieParam($event)"></app-header>

<div class="requestStatus">{{requestStatus}}</div>

<div class="serie-card-container" *ngFor="let serie of serie$">
    <!-- Serie Info -->
    <div class="serie-general-data">
        <img class="serie-poster" [src]="serie.Poster">
        <div class="serie-info">
            <p class="serie-title">{{serie.Title}}</p>
            <div class="serie-time">
                <span>{{serie.Year}}</span>
                <span> &#8226; &nbsp; {{serie.Rated}}</span>
                <span> &#8226; &nbsp; {{serie.Runtime}}</span>
            </div>
            <div class="serie-rating">
                <img class="star" src="../../../assets/svg/ratingStar.svg" alt="">
                {{serie.imdbRating}}
            </div>
            <div class="serie-genre">
                <span *ngFor="let genre of serie.Genre?.split(',')">{{genre}}</span>
            </div>
            <div class="serie-seasons">
                <span>Seasons:</span>
                <button *ngFor="let season of totalSeasons$" (click)="getSelectedSeason(season)">{{season}}</button>
            </div>
            <div class="serie-plot">
                <p class="plot">{{serie.Plot}}</p>
            </div>
        </div>    
    </div>
    <div class="serie-details" *ngIf="season$.length <= 0;else episodesListContainer">
        <p>&#xf03d;: {{serie.Director}}</p>
        <p>&#xf305;: {{serie.Writer}}</p>
        <p>&#xf0c0;: {{serie.Actors}}</p>
        <p>&#xf091;: {{serie.Awards}}</p>
    </div>

    <ng-template #episodesListContainer>        
        <!-- Season Episodes List -->
        <div class="serie-episodes" *ngFor="let episode of season$">
            <button class="clear-episodes-list" title="Cerrar la lista" (click)="clearContent()">&#xf55a; Volver</button>
            <p class="serie-season-number">Episodes from season {{episode.Season}}:</p>
            <div class="serie-episodes-list">
                <button *ngFor="let e of episodes$" (click)="getSelectedEpisode(episode.Season, e.Episode)">
                    <span>{{e.Episode}}: </span>{{e.Title}}                    
                </button>
            </div>
        </div>
        <!-- Episode Info -->
        <div class="episode-card-container" *ngFor="let epData of episode$">
            <p class="episode-number">Episode {{epData.Episode}}:</p>
            <div class="episode-general-data">
                <div class="episode-info">
                    <p class="episode-title">{{epData.Title}}</p>
                    <span class="season-episode-info">Season: {{epData.Season}} &#8226; Episode: {{epData.Episode}}</span>
                    <div class="episode-time">
                        <span>{{epData.Year}}</span>
                        <span> &#8226; {{epData.Rated}}</span>
                        <span> &#8226; {{epData.Runtime}}</span>
                    </div>
                    <div class="episode-rating">
                        <img class="star" src="../../../assets/svg/ratingStar.svg" alt="">
                        {{epData.imdbRating}}
                    </div>
                    <div class="episode-genere">
                        <span *ngFor="let genre of epData.Genre?.split(',')">{{genre}}</span>
                    </div>
                    <div class="episode-plot">
                        <p class="plot">{{epData.Plot}}</p>
                    </div>
                </div>
                <img class="episode-poster" [src]="epData.Poster">

            </div>
            <div class="episode-production">
                <p>&#xf03d;: {{epData.Director}}</p>
                <p>&#xf305;: {{epData.Writer}}</p>
                <p>&#xf0c0;: {{epData.Actors}}</p>
                <p>&#xf091;: {{epData.Awards}}</p>
            </div>
        </div>        
    </ng-template>    
</div>

