/* Request Response Error */
.requestStatus {
    width: 100%; position: absolute; align-items: center; justify-content: center;
    text-align: center; font-size: 18px; letter-spacing: 1px; font-weight: bold; color: var(--cyanCurnflowerBlue); 
    padding: 1em; padding-bottom: .5rem; user-select: none; visibility: hidden;
} .visible { visibility: visible; border-bottom: 2px dotted var(--snow); }

/* Container */
.content {
    position: relative; width: 100%;
    text-align: center;   
}

/* Movies - Series Cards */
.movie-card-container, .serie-card-container {
    position: relative; display: flex; justify-content: center; align-items: center; flex-direction: column; flex-wrap: nowrap;
    padding: 0.5rem;   

    .movie-general-data, .movie-details, .serie-general-data, .episode-general-data, .serie-episodes, .serie-details, .episode-production, 
    .episode-card-container { max-width: 880px; }    
    
    .movie-general-data, .serie-general-data, .episode-general-data {
        position: relative; display: flex; align-items: center; gap: 10px;
        border-radius: 10px 10px 0 0; padding: 0.5rem; cursor: default; border-bottom: none !important;
        background-color: var(--smokyBlack); color: var(--snow); border: 1px solid var(--snow);
        /* Movie-Serie Poster */
        .movie-poster, .serie-poster, .episode-poster {
            width: 210px; border-radius: 10px;
            border: 1px solid;
        }
        /* Movie-Serie Title */
        .movie-title, .serie-title, .episode-title {
            text-align: center; font-size: 18px; letter-spacing: 1px; font-weight: bold; 
            margin: 0; padding: 5px; border-bottom: 1px solid var(--snow);
        }
        /* Time, Rating, Genre */
        .movie-time, .movie-rating, .movie-genre, .serie-time, .serie-rating, .serie-genre, .serie-seasons, .episode-time, .episode-rating, .episode-genere {
            display: flex; justify-content: center;
            padding: 5px;
        }
        /* Movie-Serie Time */
        .movie-time, .serie-time, .episode-time {
            flex-wrap: wrap; 
            font-size: 14px; color: darkgray; 
            margin: 5px 0 auto; padding: 0 !important; 
            span { margin-inline: 15px; padding: 3px 0; }
            .lang {
                width: 100%; padding-top: 5px; border-top: 1px dashed var(--snow);
                font-size: 12px;
            }
        }
        /* Movie-Serie Rating Star */
        .movie-rating, .serie-rating, .episode-rating {
            font-size: 18px; font-weight: bolder; letter-spacing: 1px;
            align-items: center; margin: 5px 0;  
            background-color: var(--urobilin); color: var(--smokyBlack);                        
            .star { width: 22px; margin-right: 10px; filter: drop-shadow(1px 1px 2px var(--smokyBlack)); }
            &::after {
                content: '/10'; font-size: 12px; opacity: .55;
            }
        }
        /* Movie-Serie Genre */
        .movie-genre, .serie-genre, .episode-genere {
            font-size: 14px;
            margin: 5px 0; justify-content: space-around; 
        }
        /* Movie-Serie Plot */
        .movie-plot, .serie-plot, .episode-plot {
            padding: 5px; margin: 5px 0; border-top: 1px solid var(--snow);                        
            .plot {
                font-size: 13px; text-align: justify;
                font-weight: 500; letter-spacing: 1px;
            }
        }
    }
    /* Movie-Serie Details */
    .movie-details, .serie-details, .episode-production {
        width: 100%; position: relative;
        padding: 0.5rem; border-radius: 0 0 10px 10px; border: 0;
        background-color: var(--urobilin); cursor: default;
        .detail { 
            font-size: 16px; letter-spacing: 2px; text-align: justify;
            margin: 10px 0;            
        }        
    } 
}