@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    padding: 0; margin: 0; box-sizing: border-box;
    font-family: 'Source Code Pro', monospace, FontAwesome; 
}

/* Color Palette */
:root {
    --urobilin: #deb522; --urobilinShade: #b18d00;
    --smokyBlack: #0c0b00;
    --snow: #fcf7f7;
    --cyanCurnflowerBlue: #128bb5; --cyanCurnflowerBlueShade: #007098;
    --firebrick: #b62020;
}

html, body {
    height: 100%; position: relative;
}
body {    
    max-width: 100%; min-height: 100vh;
    background-color: var(--smokyBlack);
}

a { border: 0 !important; text-decoration: none; }

.urobilinBg { background-color: var(--urobilin); } .smokyBg { background-color: var(--smokyBlack); }